
.singlePost-container{
    display: flex;
    margin-top: 3rem;
    padding: 2rem 15rem;
    flex-direction: column;
}
.singlePostTitle{
    margin-bottom: 2.2rem ;
    font-size: 2rem;
    text-align: center;
    color: #111;
}

.singlePost-container .imgBox{
    height: 380px;
    border-radius: 3px;
    object-fit: cover;
}
.singlePost-container .imgBox img{
    width: 100%;
    border-radius: 3px;
    object-fit: cover;
    height: 380px;
    
}
.postBody{
    padding: 3rem 0.25rem 1rem;
    box-shadow: 0.01rem 0.05rem 0.05rem 0.1rem rgb(234, 225, 225);
    line-height: 2.2rem;
    text-align: justify;
    font-size: 1rem;
}

.postBody p {
    padding: 0.5rem;
}
.postBody ol,
.postBody ul,
.postBody li{
    margin-left: 1.25rem;
}
.postBody table{
    border:1px solid #555;
    border-collapse: collapse;
    margin-left:auto;
    margin-right:auto;
    padding:0.15rem;
}
.postBody table th, 
.postBody table tr,
.postBody table td{
    border:1px solid #666;
    padding:0.15rem;
}

@media screen and (max-width: 910px){
    .singlePost {
        padding: 2rem 3rem;
    }
    .postBody {
        box-shadow: none;
    }
}


@media screen and (max-width: 710px){
    .singlePost{
        flex-wrap: wrap;
        padding:0.5rem;
    }
    .singlePost-container{
        padding: 0.15rem;
    }
    .singlePostTitle {
        font-size: 1.15rem;
        margin-bottom: 1rem ;
    }
    .postContent {
        padding-top: 0.5rem;
        margin-bottom:3rem;
   }
   .singlePost-container .imgBox{
        height: 170px;
    }
    .singlePost-container .imgBox img{
        height: 170px;
    }
   
    .postBody {
        padding: 0 0.15rem;
        font-size: 0.95rem;
    }
}
