.setting{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.setting h2{
    font-size: 1.3rem;
    margin-bottom: 1.2rem;
}
.setting h2 span {
    color: #6664d8;
}
.setting-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    box-shadow: 0.05rem 0.1rem 0.1rem 0.05rem #aaa;
}
.setting-container aside{
    font-size: 1.1rem;
    margin: 1rem;
}
.setting-container .image-profile{
    width: 300px;
}

.setting-container aside img{
    padding: 0.25rem;
    width: 100%;
    height: 230px;
    border-radius: 0.75rem;
    object-fit: contain;
}
.setting-container aside table{
    border: 1px solid #ddd;
    padding: 0.15rem;
    border-collapse: collapse;
}
.setting-container aside table tr{
    padding: 0.15rem;
    border: 1px solid #ddd;
}
.setting-container aside table tr th,
.setting-container aside table tr td{
    padding: 0.15rem;
    border: 1px solid #ddd;
    text-align: center;
}
.setting-container aside table tr .edit {
    color: green;
}


@media screen and (max-width: 650px){
    .setting-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        font-weight: 300;
        box-shadow: none;
    }
    .setting-container aside{
        font-size: 1rem;
        margin: 0;
        padding-bottom: 1rem;
    }
    .setting-container aside table {
        padding: 0.1rem;
    }
    .setting-container aside table tr th,
    .setting-container aside table tr td{
        padding: 0.1rem;
    }
}